<div>
  <app-header></app-header>

    <div class="container mx-auto absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]">
      <div class="flex flex-col gap-12 md:flex-row justify-center">
        <div class="w-full md:w-6/12 lg:w-4/12 flex flex-col items-center gap-4 border shadow-md  rounded-xl p-12 font-normal text-3xl bg-[#012641] text-white">
          <img class="w-32" src="../../assets/img/salario.png" alt="">
          <span>Avisos de Recompensas</span>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 flex flex-col items-center gap-4 border shadow-md  rounded-xl p-12 font-normal text-3xl bg-[#012641] text-white">
          <img class="w-32" src="../../assets/img/acuerdo.png" alt="">
          <span>Referencias</span>
        </div>
      </div>
    </div>
</div>
